@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Regular.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 400;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Italic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 250;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Thin.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 250;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-ThinItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 275;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-ExtraLight.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 275;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-ExtraLightItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Light.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 300;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-LightItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Medium.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 500;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-MediumItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-SemiBold.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 600;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-SemiBoldItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Bold.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 700;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-BoldItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-ExtraBold.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 800;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-ExtraBoldItalic.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Black.woff) format('woff')
}

@font-face {
    font-family: poppins;
    font-style: italic;
    font-weight: 900;
    src: local('Poppins'), url(../fonts/Poppins/Poppins-BlackItalic.woff) format('woff')
}